<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="5.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.SqlServer.DacFx" version="150.5164.1" targetFramework="net48" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net45" />
</packages>