/*.suo
/.vs
/TestResults
/Cheburashka.sln.ide
.vs
obj
bin
Microsoft.SqlServer.DacFx.x64.130.3450.1
/Cheburashka.plog
/PVS-Studio-log.plog
*.user
*.psess
*.vsps
*.vspx
/devenv191223_ModuleSummary.csv
*.vsp
/Cheburashka/Tests/TestScripts/BigTestDb/script.sql
/.idea/.idea.Cheburashka/.idea
/.cr/personal/Editor/Painting/Structural Highlighting.xml
/.cr/personal/Editor/IntelliRush.xml
/.cr/personal/FavoritesList/List.xml
*.dbmdl
/Cheburashka/Rules/Cheburashka.csproj.user
/Cheburashka/Tests/CheburashkaTests.csproj.user
